@charset "UTF-8";
    
body {
    background-color: rgb(98, 170, 228);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

#pergunta {
    text-align: center;
}

#inum {
    width: 70px;
    margin-bottom: 10px;
}

#resultado {
    text-align: center;
}

select {
    -webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
}

footer, a {
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    margin: 20px;
}

a:hover {
    color: rgb(67, 116, 155);
}